a.w3-col{
    padding: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}

main.w3-container{
    padding: 0;
}

aside.w3-container{
    background-color: #647687;
    padding: 0;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

img.w3-image{
    height: 200px;
}

body main div.w3-container.w3-white.w3-border.w3-round.w3-section.w3-third.w3-margin-top.w3-margin-bottom{
    padding-bottom: 10px;
}

#map-canvas{
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.w3-row{
    margin-bottom: 0px;
}

#relleno{
    width:100%;
    clear: both;
    height:20px;
}

.linkEmpresa{
    text-decoration: underline;
    color: blue;
}

.linkEmpresa:visited{
    text-decoration: underline;
    color: purple;
}

@media screen and (max-width:800px) {
    .g-recaptcha{
        transform:scale(0.58);-webkit-transform:scale(0.58);
        transform-origin:0 0;-webkit-transform-origin:0 0;
    }
}