#busqueda{
    margin-top: 20px;
    float: left;
    margin-left: 33%;
    width: 33%;
}

#cuadro_busqueda{
    width: 68%;
    margin-top: auto;
    margin-bottom: auto;
}

#boton_busqueda{
    min-width: 12%;
}

#checknacional{
    float: right;
    min-width: 20%;
}