main.w3-container{
    padding: 0;
}

aside.w3-container{
    background-color: #647687;
    padding: 0;
    padding-bottom: 10px;
}

aside.w3-container div.w3-container a{
    text-decoration: none;
}