a.w3-col{
    padding: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}

main.w3-container{
    padding: 0;
}

aside.w3-container{
    background-color: #647687;
    padding: 0;
    padding-bottom: 10px;
}

div.w3-container a{
    text-decoration: none;
}

img.w3-image{
    height: 200px;
}